body {
  background-image: url(images/blak.webp);
  background-position: center;
  background-size: cover;
}

.pic {
  height: 600px;
  width: 600px;
  border-radius: 300px;
  float: right;
  box-shadow: 10px 10px 60px -2px rgb(6, 100, 242), 10px 10px 300px blue;
}

h1, h2, h3{
  color: white;
}

.navv ul{
  list-style-type: none;
  text-align: right;
  background-color: darkblue;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.navv a{
  text-decoration: none;
  color: aliceblue;
  padding: 15px;
  font-size: 20px;
}

.navv a:hover{
  color: aquamarine;
}

.navv li{
  float: right;
}

h1 {
   font-family: 'poppins', sans-serif;
   letter-spacing: -0.6=px;
   font-weight: 900;
   font-size: 50px;
}

 h2, h3{
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  letter-spacing: -0.6=px; 
  font-size: 30px;

}

span {
  color: rgb(6, 22, 159);
  font-weight: 900;
}

img {
  height: 90px;
  width: 90px;
}
 
.NavBar img{
  width: 100px;
}